body{
  margin:0px;
}
html{
  scroll-behavior: smooth;
}
:root{
/*   Color Palette: */
--black1:#020300;
--blueMatte:#005894;
--greenLime:#32DE8A;
--lightBlue:#79A9D1;
--salmon:#D5573B;
/*   background-color:var(--black1); */
  color: white;
  margin-top:3rem;
}
#header{
  display:flex;
  flex-direction:row;
  height: 3rem;
  width: 100%;
  top: 0px;
  left: 0px;
  position: fixed;
  justify-content:flex-end;
  background-color:var(--black1);
  z-index: 999;
}
nav{
  width: auto;
  background-color:var(--black1);
  display: flex;
  justify-content:flex-end;
  align-items:center;
  border: 1em;
  border-color: white;
  border-radius: 15px 0px 0px 15px;
   
}
#svgicon{
  height: 2.5em;
  width:auto ;
  padding: 2px;
  position: static;
/*   justify-content:start; */
  top:0px;
  left: 0px;
}
nav a{
  background-color:var(--blueMatte);
  width: 5rem;
  height: 1rem;
  color: white;
  border: black solid;
  border-radius:15px;
  margin: 10px 20px 10px 10px;
  padding: 5px;
  text-decoration:none;
  font-family:monospace;
  text-align: center;
  transition: transform .2s;
}
nav a:hover{
  border:var(--greenLime) solid;
  transform:scale(1.3);
  /* background-color: grey; */
}
section{  
  left: 0px;
  top:0px;
}
#welcome-section{
  background-color:var(--black1);
  margin: auto;
  display: flex;
  min-height:100vh;
  height: 100%;
  flex-direction:column;
  justify-content:center;
  align-items:start;
  background-image:linear-gradient(180deg, rgba(0, 0, 0, 0), var(--black1)), url("/img/perfil.webp");  
  background-size:50vh;
  background-repeat:no-repeat;
  background-position:80% 90% ;
}
h1{
/*   background-color:green; */
  color:white;
  font-size:4rem;
  margin: 0px;
  padding: 20px;
  font-family:monospace;
  transition: 0.5s;
  
}
p{
  font-family: monospace;
  opacity: 0%;
  color: #020300;
  margin-left: 5px;
  transition: 0.3s;
}
.project-tile:hover p{
  opacity: 100%;
  margin: 10px;
}
h1:hover{
  color:var(--salmon);
}

h2{
  color: white;
  font-size:2rem;
  margin: 10px;
  padding: 20px;
  font-family:monospace;

}
code{
  color:white;
  font-size:1.5rem;
  width:40vw;
  padding: 2rem;
  line-height:1.5em;
}

.codeBlack{
  font-size:2rem;
  padding: 0px;
  color: white;
  transition: 0.5s;
  line-height:1em;
  background-color: var(--blueMatte);
}

.proy{
  background-color:var(--blueMatte);
  height: auto;
  min-height: 110vh;
  padding: 0px;
  
}
.h1project{
  width: 100%;
  text-align:center;
  padding: 20px 0px 20px 0px ;
}

#projects{
  padding: 20px 0px 20px 0px;
  margin:auto;
  display: flex;
  flex-direction:row;
  align-items:center;
  justify-content:center;
  flex-wrap:wrap;
}  
.projectImg{
   width: 300px;
   height: 60%;
   object-fit: fill;
   object-position: center top;
   overflow: visible;
}

.project-tile{
  width: 300px;
  height:350px;
  margin: 15px;
  border-radius: 10px ;
  box-shadow: 1px 4px 13px 8px rgba(0,0,0,0.15);
  object-fit: contain;
  overflow: hidden;
  transition:0.5s;
  background-color:var(--lightBlue);
}
.project-tile:hover{
  box-shadow: 1px 4px 13px 8px rgba(0,0,0,0.45);
  transform:scale(1.1)  translateY(-20px);
}
.project-tile img{
  transition: 0.7s;
}
.project-tile:hover img{
margin-top: -120px;
}

.project-tile a{
  color: white;
  text-decoration:none;
  transition:0.5s;
}
.project-tile:hover a{
  color: black;
  top: -50px;
}
h3{
  font-family:monospace;
  font-size:2rem;
  text-align:center;
  margin: 15px;
  
}
#contact{
  background-color:var(--lightBlue);
  padding: 20px 0px 20px 0px;
  height: 90%;
  min-height: 80vh;
}
.contactos{
  margin: 4rem 2rem 0 2rem;
  display: flex;
  height: 40vh;
  flex-direction:row;
  align-items:center;
  justify-content:space-evenly;
  flex-wrap:wrap;
}
.icon{
  width:200px;
  display: flex;
  flex-direction:column;
  align-items:center;
  border-radius: 10px;
  padding: 10px;
  transition:.5s;
  
}
.icon:hover{
  transform: translateY(-30px);
  box-shadow: 1px 4px 13px 8px rgba(0,0,0,0.45);
}
.h2icon{
  color: var(--lightBlue);
  color: black;
  transition: 0.3s;
}
.h2icon:hover{
  color: white;
}
a{
  text-decoration:none;
}
footer{
  text-align:center;
  padding:20px 0px 0px 0px;
  background-color:var(--lightBlue);
  height:3rem;
}
em{
  color:black;
  margin: 1em;
}
@media (max-width:400px) {
  nav a{
    margin: 0;
  }
}
@media (max-width:750px) {
  code{
    font-size:1.3rem;
    width:80%;
    padding: 1rem;
    
  }
  #projects{
    display: flex;
    flex-direction:column;
    flex-wrap:wrap;
    justify-content:center;
      align-items:center;
      /* margin:  0px 20px 0px 20px; */
      margin: auto;
    padding: auto;
  }  
  .projectImg{
    width: 100%;
    object-fit: contain;
    background-color:white;
    object-position: center top;
  }  
  .project-tile{
    width: 75vw;
    height: 75vw;
  }
  .contactos{
    height: auto;
  }
  h1{
    font-size: 3rem;
  }
  h3{
    margin: auto;
  }
}

.button {
  pointer-events: none;
  background-color: var(--greenLime);
  border: none;
  color: white;
  padding: 5px 20px;
  position:relative;
  font-family: monospace;
  text-align: center;
  text-decoration: none;
  font-weight:500;
  display: block;
  margin-top: 5px;
  /* margin-bottom: 10px; */
  border-radius: 0px 10px 10px 0px;
  box-shadow: 1px 3px 8px 2px rgba(0,0,0,0.45);
}
.button:hover{
  font-weight: 900;
}
.superposition{
  position: absolute;
  margin-top: 10px;

}
.iconButton{
  margin-bottom:-3px ;
}